<!DOCTYPE html>
{% load bootstrap %}
<html>
<head>
    <title></title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="panel panel-primary" style="border-radius: 0px; margin-bottom: 2px;">
      <div class="panel-heading" style="border-radius: 0px;">
         <h3 class="panel-title" style="font-size: 150%;">Details</h3>
      </div>
    </div>
    <div style="text-align: left; padding: 2px 15px;">
        <a href="{% url 'index'%}" style="text-decoration: none;"><span class="glyphicon glyphicon-home"></span> Home </a><span class="glyphicon glyphicon-arrow-right" style="color: #428bca;"></span>
        <a href="{% url 'guitar_detail'%}" style="text-decoration: none;">guitar <span class=""></span></a>
    </div>
    <form action="{% url 'guitar_detail'%}" method="get">
    {% csrf_token %}
        <div class="container">
            {{ form|bootstrap}}
            <input type="submit" class="btn btn-default" value="Save" />
            <input type="hidden" name="id" value="{{ pk }}" />
        </div>
    </form>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</body>
</html>